---
---

@import "{{ site.theme }}";
.btn-linkedin .icon {
	opacity: 0.6;
	background: url("../images/linkedin.png") 0 0 no-repeat;
}
.inline{
	display: inline-block;
}
.breadcrumb{
	white-space: pre;
	display: inline-block;
	font-size: 16px;
	color: #b5e853;
	margin: 0;
}
ul.nav{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #1c1c1c;
}
li.nav{
	display: inline;
	float: left;
	border-right: 1px solid #bbb;
}
a.nav{
	display: block;
	padding: 8px;
	font-size: 18px;
	text-decoration: none;
	color: #666;
}
a:hover.nav{
	background: #b5e853;
}
header{
	position: sticky;
	top: 0;
	width: 100%;
	background: black;
}