<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
	
	<!-- Fav Icon -->
	<link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.png">
	
    {% include head-custom.html %}
	{% seo %}
  </head>

  <body>
    <header>
      <div class="container">
        <a id="a-title" href="{{ '/' | relative_url }}">
          <h1>{{ site.description | default: site.github.project_tagline }}</h1>
		  <h2>{{ site.title | default: site.github.repository_name }}</h2>
        </a>
		
		<!-- Nav Bar -->
		<ul class="nav">
			<li><a href="Unity_Projects.md">Unity Projects</a></li>
			<li><a href="Game_Modding.md">Game Customizing</a></li>
			<li><a href="Scripts.md">Scripts</a></li>
		</ul>
		
		<!-- Breadcrumb -->
		<a href="https://fenris42.github.io">Home</a><h4 id="currentPage" class="breadcrumb"></h4>
		<script src="assets/scripts/breadcrumb.js"></script>
		
      </div>
    </header>

    <div class="container">
      <section id="main_content">
        {{ content }}
      </section>
    </div>
  </body>
</html>