<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}

{% seo %}
  </head>

  <body>

    <header>
      <div class="container">
        <a id="a-title" href="{{ '/' | relative_url }}">
          <h1>{{ site.description | default: site.github.project_tagline }}</h1>
		  <h2>{{ site.title | default: site.github.repository_name }}</h2>
        </a>
		
		<table>
			<tr>
				<td> 
					<img src="assets/images/profilepic.jpg"> 
				</td>
				<td align="left">
					<h2>Links</h2>
					<a href="https://github.com/Fenris42" class="btn btn-github"><span class="icon"></span>GitHub</a> <a href="https://www.linkedin.com/in/matt-todd/" class="btn btn-linkedin"><span class="icon"></span>Linkedin</a>
				</td>
		</table>
		
      </div>
    </header>

    <div class="container">
      <section id="main_content">
        {{ content }}
      </section>
    </div>
  </body>
</html>