<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

    <!-- Fav Icon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/icons/favicon.png">

    {% include head-custom.html %}
    {% seo %}
  </head>

  <body>
    <header>

        <div class="identity">

          <h1>
            <a href="{{ '/' | relative_url }}">
              {{ site.description | default: site.github.project_tagline }}
            </a>
          </h1>

          <!-- Links -->
          <nav class="nav-links">
            <ul>
              <li><a href="https://www.linkedin.com/in/matt-todd/" class="btn btn-linkedin" target="_blank"><span class="icon"></span><span class="link-text">Linkedin</a></li>
              <li><a href="https://github.com/Fenris42" class="btn btn-github" target="_blank"><span class="icon"></span><span class="link-text">GitHub</span></a></li>
            </ul>
          </nav>

        </div>

    	<!-- Nav Bar -->
        <nav class="nav-main">
      		<ul>
      			<li><a href="/">Home</a></li>
      			<li><a href="Unity_Projects.html">Unity Projects</a></li>
      			<li><a href="Game_Modding.html">Game Modding</a></li>
      			<li><a href="Scripts.html">Scripts</a></li>
      		</ul>
        </nav>
    </header>

    <div class="container">
      <section id="main_content">
        {{ content }}
      </section>
    </div>

    <script src="assets/scripts/nav.js"></script>

  </body>
</html>
